<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header"><h1 c>All Blogs</h1></div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog) { %>
                <div class="item">
                    <div class="ui image">
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="ui content">
                        <a class="ui header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="ui meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="ui description">
                            <p><%= blog.body %>...</p>
                        </div>
                        <div class="ui extra">
                            <a class="ui inverted violet button" href="/blogs/<%= blog._id %>">Read more</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ./partials/footer %>